# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================
venv/
.venv/
env/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Python Cache
# ==========================================
.pytest_cache/
.ipynb_checkpoints/
.cache/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Temporary Files
# ==========================================
temp*
*.tmp
*.wav

# ==========================================
# Operating System
# ==========================================
Thumbs.db
.DS_Store

# ==========================================
# Documentation
# ==========================================
docs/

# ==========================================
# Kaggle Files
# ==========================================
kagglefiles/

# ==========================================
# Dataset
# ==========================================
ml-services/datasets/

# ==========================================
# Notebooks
# ==========================================
ml-services/notebooks/

# ==========================================
# Training Outputs
# ==========================================
ml-services/outputs/
ml-services/runtime/

# ==========================================
# Tests
# ==========================================
tests/

# ==========================================
# Development Files
# ==========================================
livetest.py
speech_test.py
face_test.py

# ==========================================
# TensorBoard
# ==========================================
runs/
logs/

# ==========================================
# Face Models
# Keep ONLY emotion_model.h5
# ==========================================
ml-services/models/emotion_model.keras

# ==========================================
# Large Speech Model
# ==========================================
ml-services/models/speech_emotion/model.safetensors

# ==========================================
# Other Optional Large Files
# ==========================================
*.zip
*.tar
*.7z